

@media only screen and (max-width: 1680px){
  .menun li{
    position: relative;
    left: 50px;
    width: 110px;
  }
  .submenu li{
    position: relative;
    left: 0px;
    width: 200px;
  }
  .menun a {
    font-size: 20px;
  }
  .submenu a{
    font-size: 20px;
  }
  .search{
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
  }
  .menun .search i{
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 5px;
  }

  .search-bar{
    position: absolute;
    right:50px;
    top:10px;
    width:-10px;
    display: none;
  }
  input[type=search]{
    width: 200px;
    font-size: 16px;
    padding: 11px;
    transition: width 0.4s ease-in;
  }
  input[type="search"]:focus{
    width: 220px;
  }

  .container{
    margin-top: 180px;
  }


  article p{
    font-size: 35px;
  }

  .thongso{
    font-size: 17px;
  }
  .ten{
    font-size: 20px;
  }
  .show-item{
    font-size: 17px;
    position: relative;
    top: -400px;
    left: 45px;
  }
}

@media only screen and (max-width: 1600px){
  .menun li{
    position: relative;
    left: 50px;
    
  }
  .submenu li{
    position: relative;
    left: 0px;
  }
  .search{
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
  }
  .hidden{
    position: absolute;
    display: block;
    top: -65px;
    right:10px;
}
  .search-bar{
    position: absolute;;
    right:0px;
    top:65px;
    width: -10px;
    display: none;
  }
  input[type=search]{
    width: 200px;
    font-size: 16px;
    padding: 11px;
    opacity: 0.6;
  }
  input[type="search"]:focus{
    width: 300px;
  }

  .container{
    margin-top: 150px;
  }
}
@media only screen and (max-width: 1440px){
  .menun li{
    position: relative;
    left: 50px;
    height: 40px;
    width: 100px;
  }
  .menun a i{
    font-size: 35px;
  }
  .submenu li{
    position: relative;
    left: 0px;
  }
  .menun a{ 
    font-size:15px; 
    margin-top: -10px;
  }
  .iconleft p{
    font-size: 20px;
}
  .search{
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
  }
  .search-bar .hidden{
    position: absolute;
    display: block;
    top: -65px;
    right:1000px;
}
.search-bar{
  position: absolute;
  right:50px;
  top:3px;
  width:-10px;
  display: none;
}
  input[type=search]{
    width: 100px;
    font-size: 16px;
    padding: 5px;
    transition: width 0.4s ease-in;
  }
  input[type="search"]:focus{
    width: 160px;
  }

  .container{
    margin-top: 80px;
  }
}